.home-div {
  background: url("/backgrounds/home.jpg") center / cover no-repeat;
  background-attachment: fixed; /* Add this line to fix the background */
  box-shadow: 9px 4px 40.4px var(--Screen-content-padding, 20px)
      rgba(0, 0, 0, 0.25) inset,
    -22px 80px 35px 0px rgba(0, 0, 0, 0.05) inset;
}
