@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@300&display=swap");
body {
  font-family: "Noto Sans Hebrew", sans-serif;
}
.App {
}

.cursor {
  cursor: pointer;
}
.cursor-off {
  cursor: auto !important;
}
.dec-off {
  text-decoration: none !important;
}
.border-off {
  border: none !important;
}
.list-style-off {
  list-style: none;
}
.hover-off:hover,
.active-off:active {
  background-color: initial !important;
  color: initial !important;
}
.pos-fix::after {
  position: fixed !important;
}
.removed-button-style {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
}

.details-container {
  /* Apply default styling for the details container */
  /* For example, set display to none, opacity to 0, etc. */
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.details-container.visible {
  /* Apply styling to make the details container visible */
  /* For example, change display to block and opacity to 1 */
  display: block;
  opacity: 1;
}
