.shadow1 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.01) !important;
}
.shadow2 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.02) !important;
}
.shadow3 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.03) !important;
}
.shadow4 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.04) !important;
}
.shadow5 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.05) !important;
}
.shadow6 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.06) !important;
}
.shadow7 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.07) !important;
}
.shadow8 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.08) !important;
}
.shadow9 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.09) !important;
}
.shadow10 {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1) !important;
}
