.text1 {
    font-size: 16px;
    color: #333;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    padding: 6px 12px;
    border: 1px solid transparent;
    background-color: #ffffff;
}

.text1:hover {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #0564c929;
}