._about {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  > .title {
    display: flex;
    height: 94px;
    padding: var(--Content-gap-small, 0px);
    justify-content: center;
    align-items: center;
    gap: -28px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--red, #f01866);
    box-shadow: 7px 8px 0px 0px rgba(0, 0, 0, 0.14);
    > .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      text-align: center;
      font-family: "Open Sans";
      font-size: 54px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 37.037% */
      letter-spacing: 7.56px;
    }
    > ._icon {
      background: url("/assets/chevron-left.png") no-repeat center center;
      width: 60px;
      height: 60px;
      flex-shrink: 0;
    }
  }
  > .content {
    display: flex;
    padding: 36px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    background: #fff;
    box-shadow: 6px 12px 3.7px 0px rgba(0, 0, 0, 0.02),
      10px 11px 9.2px 0px rgba(0, 0, 0, 0) inset;
    > .text {
      margin: 30px 60px 30px 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 0 0;
      align-self: stretch;
      color: #000;
      text-align: center;
      font-family: "Open Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 39px; /* 139.286% */
      letter-spacing: 0.28px;
    }
    > .image {
      width: 811px;
      height: 456px;
      background: url("/assets/about.png");
    }
  }
}
